.border{
    display: flex;
    border: 5px;
    border-style: solid;
    border-color: rgb(93, 120, 102);
    width:100%;
    background-color: #a7e8aa;

    
}

.btn{
    background-color: #4CAF50; 
    border-style: solid;
    border: 5px;
    border-color: #09590d;
    color: rgb(255, 255, 255);
    padding: 2px 3%;
    text-align: center;
    font-size: 16px;
}

.gridBox{
    display:grid;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(17, 52, 37);
    grid-template-columns: auto auto auto; 
    text-align: center;
    
    
 
}

.greenBorderLeft{

    background-color: rgb(192, 255, 201);
    height: 500%;
    
    grid-row: 1;
    grid-column: 1;
    
    
}

.homePage{
    display:table;
    text-align:center;
    background-color: rgb(160, 185, 198);
    height: 500%;

    grid-row: 1;
    grid-column: 2;
   

}



.greenBorderRight{
    background-color: rgb(192, 255, 201);
    height: 500%;
    grid-row: 1;
    grid-column: 3;
    
}
