.cakeGrid{
    display:grid;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(17, 52, 37);
    
    text-align: center;
}

.cakes{
    display: grid,table;
    grid-row: 1;
    grid-column: 2;
}

.cupCakes{
    
    display: grid;
    

}

.cupcake1{
    
    grid-row: 1;
    grid-column: 1;
    
}

.cupcake2{
    grid-row: 1;
    grid-column: 2;
    
}

.cupcake3{
    grid-row: 1;
    grid-column: 3;
}

.cupcake4{
    grid-row: 1;
    grid-column: 4;
}

.cupcake5{
    
    grid-row: 2;
    grid-column: 1;
    
}

.cupcake6{
    grid-row: 2;
    grid-column: 2;
    
}

.cupcake7{
    grid-row: 2;
    grid-column: 3;
}

.cupcake8{
    grid-row: 2;
    grid-column: 4;
}

.weddingCakes{
    display: grid;
    
    
}

.weddingcake1{
    grid-row: 1;
    grid-column: 1;
}
.weddingcake2{
    grid-row: 1;
    grid-column: 2;
}
.weddingcake3{
    grid-row: 1;
    grid-column: 3;
}
.weddingcake4{
    grid-row: 1;
    grid-column: 4;
}
.weddingcake5{
    grid-row: 2;
    grid-column: 1;
}
.weddingcake6{
    grid-row: 2;
    grid-column: 2;
}
.weddingcake7{
    grid-row: 2;
    grid-column: 3;
}
.weddingcake8{
    grid-row: 2;
    grid-column: 4;
}




.greenBorderLeftproducts{

    background-color: rgb(192, 255, 201);
   
    
    grid-row: 1;
    columns: 1;
    
    
}

.greenBorderRightproducts{
    background-color: rgb(192, 255, 201);
   

    grid-row: 1;
    columns: 3;
    
}